@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Inter:wght@700&family=Josefin+Sans&family=Libre+Baskerville&family=Quicksand&family=Raleway&display=swap');

:root{
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}